html {
  font-family: Sen, sans-serif;
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 645px;
}

.box1 {
  position: absolute;
  display: none;
  width: 375px;
  height: 100%;
  background-color: rgba(255, 255, 255, .75);
  z-index: -1;
  top: 0;
}

.box2 {
  position: absolute;
  display: none;
  width: 375px;
  height: 100%;
  background-color: rgba(255, 255, 255, .75);
  z-index: -2;
  top: 0;
}

.box3 {
  position: absolute;
  display: none;
  width: 375px;
  height: 100%;
  background-color: rgba(255, 255, 255, .95);
  z-index: -3;
  top: 0;
  transition: all 5s ease;
}

.first-line {
  order: 1;
  text-align: right;
}

.last {
  order: 3;
  text-align: left;
}

.crazy {
  text-decoration: underline;
  text-decoration-color: red;
  background-color: transparent;
  order: 2;
  animation: flashing 3s infinite forwards step-end;
  animation-play-state: paused;
}

.crazy:hover {
  color: red;
  text-decoration: none;
  padding-top: .125rem;
  font-size: 1.25rem;
  font-family: "Permanent Marker", sans-serif;
  background-color: transparent;
  z-index: 101;
  animation-play-state: running;
}

@keyframes flashing {

  0% {
    color: black;
    text-shadow: none;
  }

  10% {
    color: red;
    text-shadow: 0 0 5px red;
  }

  20% {
    color: black;
    text-shadow: none;
  }

  30% {
    color: red;
    text-shadow: 0 0 5px red;
  }

  40% {
    color: black;
    text-shadow: none;
  }

  65% {
    color: red;
    text-shadow: 0 0 5px red;
  }

}

.crazy:hover + .box1 {
  display: flex;
  z-index: 100;
}

.change {
  text-decoration: underline;
  text-decoration-color: gold;
  order: 2;
  font-family: Sen, sans-serif;
  animation: change-font 2.5s infinite forwards step-end;
  animation-play-state: paused;
}

.change:hover {
  color: gold;
  text-decoration: none;
  background-color: transparent;
  transition: none;
  z-index: 201;
  animation-play-state: running;
}

@keyframes change-font {

  0% {
    font-family: Sen, sans-serif;
  }

  25% {
    font-family: Pacifico, sans-serif;
    padding-top: .6rem;
    line-height: 0;
    font-size: 1.25rem;
  }

  50% {
    font-family: "Homemade Apple", sans-serif;
    padding-top: .6rem;
    line-height: .5rem;
    font-size: .875rem;
  }

  75% {
    font-family: Damion, sans-serif;
    padding-top: .6rem;
    line-height: 0;
    font-size: 1.5rem;
  }

  100% {
    font-family: Sen, sans-serif;
  }

}

.change:hover + .box2 {
  display: flex;
  z-index: 100;
}

.do {
  text-decoration: underline;
  text-decoration-color: green;
  transition: none;
  order: 2;
}

.do:hover {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Bungee Shade", sans-serif;
  background-color: transparent;
  z-index: 301;
  transition: font-size 5s ease 1s;
}

.do:hover + .box3 {
  display: flex;
  z-index: 100;
}

.citation {
  z-index: 500;
}

.ascii-box {
  width: 100%;
}

.ascii {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: right;
}

.steve {
  display: inline-block;
  white-space: pre;
  letter-spacing: 0;
  line-height: 1.4;
  font-family: Consolas, BitstreamVeraSansMono, CourierNew, Courier, monospace;
  font-size: .145rem;
  color: rgba(0, 128, 0, .2);
}

@media only screen and (min-width: 25em) {

  .crazy:hover {
    padding-top: 1rem;
    font-size: 1.25rem;
    line-height: 0;
  }

  @keyframes change-font {

    0% {
      font-family: Sen, sans-serif;
    }

    25% {
      font-family: Pacifico, sans-serif;
      padding-top: .75rem;
      line-height: 0;
      font-size: 1.65rem;
    }

    50% {
      font-family: "Homemade Apple", sans-serif;
      padding-top: .85rem;
      line-height: .5rem;
      font-size: 1.25rem;
    }

    75% {
      font-family: Damion, sans-serif;
      padding-top: .775rem;
      line-height: 0;
      font-size: 2.125rem;
    }

    100% {
      font-family: Sen, sans-serif;
    }

  }

  .do:hover {
    font-size: 2.5rem;
  }

  .box1 {
    width: 375px;
  }

  .box2 {
    width: 375px;
  }

  .box3 {
    width: 375px;
  }

}

@media only screen and (min-width: 38em) {

  .crazy:hover {
    padding-top: 1.25rem;
    font-size: 1.6rem;
    line-height: 0;
  }

  @keyframes change-font {

    0% {
      font-family: Sen, sans-serif;
    }

    25% {
      font-family: Pacifico, sans-serif;
      padding-top: 1rem;
      line-height: 0;
      font-size: 2.2rem;
    }

    50% {
      font-family: "Homemade Apple", sans-serif;
      padding-top: 1.175rem;
      line-height: .5rem;
      font-size: 1.665rem;
    }

    75% {
      font-family: Damion, sans-serif;
      padding-top: 1rem;
      line-height: 0;
      font-size: 2.83rem;
    }

    100% {
      font-family: Sen, sans-serif;
    }

  }

  .do:hover {
    font-size: 2.7rem;
  }

  .box1 {
    width: 540px;
  }

  .box2 {
    width: 540px;
  }

  .box3 {
    width: 540px;
  }

}

@media only screen and (min-width: 60em) {

  .crazy:hover {
    padding-top: 1.35rem;
    font-size: 1.65rem;
    line-height: 0;
  }

  @keyframes change-font {

    0% {
      font-family: Sen, sans-serif;
    }

    25% {
      font-family: Pacifico, sans-serif;
      padding-top: 1.1rem;
      line-height: 0;
      font-size: 2.25rem;
    }

    50% {
      font-family: "Homemade Apple", sans-serif;
      padding-top: 1.25rem;
      line-height: .5rem;
      font-size: 1.75rem;
    }

    75% {
      font-family: Damion, sans-serif;
      padding-top: 1.05rem;
      line-height: 0;
      font-size: 2.9rem;
    }

    100% {
      font-family: Sen, sans-serif;
    }

  }

  .do:hover {
    font-size: 3rem;
  }

  .box1 {
    width: 600px;
  }

  .box2 {
    width: 600px;
  }

  .box3 {
    width: 600px;
  }

}

@media only screen and (min-width: 90em) {

  .crazy:hover {
    padding-top: 1.35rem;
    font-size: 1.65rem;
    line-height: 0;
  }

  @keyframes change-font {

    0% {
      font-family: Sen, sans-serif;
    }

    25% {
      font-family: Pacifico, sans-serif;
      padding-top: 1.1rem;
      line-height: 0;
      font-size: 2.25rem;
    }

    50% {
      font-family: "Homemade Apple", sans-serif;
      padding-top: 1.25rem;
      line-height: .5rem;
      font-size: 1.75rem;
    }

    75% {
      font-family: Damion, sans-serif;
      padding-top: 1.05rem;
      line-height: 0;
      font-size: 2.9rem;
    }

    100% {
      font-family: Sen, sans-serif;
    }

  }

  .do:hover {
    font-size: 3rem;
  }

  .box1 {
    width: 650px;
  }

  .box2 {
    width: 650px;
  }

  .box3 {
    width: 650px;
  }

}
